@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  line-height: 1.5;
  list-style-type: none;
  font-family: sans-serif;
  margin: 0;
  min-width: 320px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.topbar {
  background-color: #ff6347;
  position: fixed;
  top: 0;
  height: 82px;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.topbarlogo {
  height: 80px;
  width: 10%;
  display: inline;
  float: left;
}

.logo {
  width: 25%;
  display: inline;
}

.mainpic {
  width: 100%;
  height: 30%;
}

header {
  height: 82px;
}

h1 {
  font-size: 3rem;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

h2 {
  display: block;
  font-size: 1.875rem;
  list-style-type: none;
  text-align: left;
  margin: 0 0 0 .5em;
}

p {
  margin: 0 0 0 1em;
}

body {
  margin: 0;
}

ul {
  padding: 1em;
  margin: 0;
}

li {
  margin: .3em 0;
  display: inline-block;
  padding: 0;
}

a {
  display: inline-block;
  color: #000;
  background-color: #fff;
  text-decoration: none;
  padding: .2em .5em .3em;
  border-radius: 4px;
  margin-bottom: .3em;
}

.white {
  color: #fff;
}

a:hover {
  text-decoration: none;
  background-color: #d2691e;
}

.current {
  background-color: #b20953;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 38em) {

  html {
    margin: 0;
    font-size: 110%;
    line-height: 1.4;
  }
}

@media only screen and (min-width: 60em) {

  html {
    margin: 0;
    font-size: 120%;
    line-height: 1.5;
  }
}

@media only screen and (min-width: 90em) {

  html {
    margin: 0;
    font-size: 130%;
    line-height: 1.5;
  }
}
